{% extends 'base_admin.html'%}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block content %}
<div class="container">
            <div class="col-sm-12">
                <div class="alert  alert-success " role="alert">
                    <h3> Gérez vos  <span class="badge badge-pill badge-success">   Publications </span> <h3>
                </div>
            </div>        
            <div class="modal-body ">
                <!-- form -->
                <form method="POST" action=" {% url 'adminapp:newPost' %}">
                  {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="title">Titre</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Tiltle">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="auther">Auteur</label>
                        <input type="text" class="form-control" id="auther" name="author" placeholder="Author">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="image">Image</label>
                        <input type="text" class="form-control" id="image" name="image_url" placeholder="Image">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="video">Video</label>
                        <input type="text" class="form-control" id="video" name="video_url" placeholder="Video">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" rows="3" id="description" name="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="content">Contenu</label>
                        <textarea class="form-control" rows="30" id="content" name="content" placeholder="Content"></textarea>
                    </div>
                    {% comment %} <button type="submit" class="btn btn-primary"> Publier </button> {% endcomment %}
                    <div>
                        <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block ">
                            <i class="fa fa-lock fa-lg"></i>&nbsp;
                            <span id="payment-button-amount">Publier</span>
                            <span id="payment-button-sending" style="display:none;">en cours de Publication ………</span>
                        </button>
                    </div>
                  </form>
            </div>
</div>


<script src="https://cdn.tiny.cloud/1/YOUR_API_KEY/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#content', // use the id of your textarea field
        plugins: 'a11ychecker advcode code editor emoticons fullscreen help hr image link lists media menubar paste search wordcount',
        toolbar: 'undo redo | formatselect | bold italic strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | code',
    });
</script>
{% endblock %}
