{% extends 'base_admin.html'%}
{% load static %}

{% block content %}


<div class="container">
    <div class="col-sm-12">
        <div class="alert  alert-success " role="alert">
            <h3> Mettre à jour les informations sur  <span class="badge badge-pill badge-success">  le Visa </span> <h3>
        </div>
    </div>        
    <div class="modal-body ">
        <!-- form -->
        <form method="POST" action=" {% url 'adminapp:update_visa_info' visa_info_data.id  %} ">
          {% csrf_token %}
            <div class="form-group">
                <label for="monde">Monde :</label>
                <input name="monde" required="required" type="text" class="form-control" id="Monde" value={{visa_info_data.monde}}>
            </div> 
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="30_jours">Frais de 30 jours :</label>
                <input type="text" class="form-control" id="30_jours" name="30_jours" class="form-control"  placeholder="Frais de 30 jours" value={{visa_info_data.30_jours}}>
              </div>
              <div class="form-group col-md-6">
                <label for="90_jours">Frais de 90 jours :</label>
                <input type="text" class="form-control" id="90_jours" name="90_jours"  class="form-control" placeholder="Frais de 90 jours" value={{visa_info_data.90_jours}}>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="de_3_mois_à_1_an">Frais de 3 mois à 1 an :</label>
                  <input type="text" class="form-control" id="de_3_mois_à_1_an" name="de_3_mois_à_1_an" class="form-control"  placeholder="Frais de 3 mois à 1 an"value={{visa_info_data.de_3_mois_à_1_an}}>
                </div>
                <div class="form-group col-md-6">
                  <label for="de_1_à_2_ans">Frais de 1 à 2 ans :</label>
                  <input type="text" class="form-control" id="de_1_à_2_ans" name="de_1_à_2_ans"  class="form-control" placeholder="Frais de 1 à 2 ans" value={{visa_info_data.de_1_à_2_ans}}>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="de_2_à_3_ans">Frais de 2 à 3 ans :</label>
                  <input type="text" class="form-control" id="de_2_à_3_ans" name="de_2_à_3_ans" class="form-control"  placeholder="Frais de 2 à 3 ans" value={{visa_info_data.de_2_à_3_ans}}>
                </div>
                <div class="form-group col-md-6">
                  <label for="de_3_ans_et_plus">Frais de 3 ans et plus :</label>
                  <input type="text" class="form-control" id="de_3_ans_et_plus" name="de_3_ans_et_plus"  class="form-control" placeholder="Frais de 3 ans et plus" value={{visa_info_data.de_3_ans_et_plus}}>
                </div>
            </div>
           
            <div>
                <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block ">
                    {% comment %} <i class="fa fa-sending fa-sending"></i>&nbsp; {% endcomment %}
                    <span id="payment-button-amount"> Mettre à jour</span>
                    {% comment %} <span id="payment-button-sending" style="display:none;">en cours de Publication ………</span> {% endcomment %}
                </button>
            </div>
          </form>
    </div>
</div>

{% endblock%}