{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Login Page</title>
    <style>
        #login img {
            margin: 100px 0 30px 0;
        }

        #login .center {
            text-align: center;
        }

        #login .login {
            max-width: 600px;
            margin: 35px auto;
        }

        #login .login-form {
            padding: 0px 25px;
        }
    </style>
</head>
<body>
    <div id="login" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login well well-sm">
                    <div class="center">
                        <img src="{% static 'logo.ico' %}" alt="Forget Password">
                    </div>
                    <div class="modal-body ">
                        <!-- form -->
                        <form method="POST" action=" {% url 'usersmanagement:forgot_password' %} ">
                          {% csrf_token %}
                            
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" class="form-control"  placeholder="Email">
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block ">
                                    {% comment %} <i class="fa fa-sending fa-sending"></i>&nbsp; {% endcomment %}
                                    <span id="payment-button-amount">Register</span>
                                    {% comment %} <span id="payment-button-sending" style="display:none;">en cours de Publication ………</span> {% endcomment %}
                                </button>
                            </div>
                          </form>
                    </div>
                </div><!--/.login-->
            </div><!--/.col-md-12-->
        </div><!--/.row-->
    </div><!--/.container-->

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
