{% extends 'base.html' %}
{% load i18n %}

{%get_current_language as LANGUAGE_CODE%}


{% block content %}


<div class="col">
    <br>
    <br>

    <div class="col text-justify">
        <h2 class="text-center">{% trans "الشؤون الاجتماعية" %}</h2>
        <br>
        <p class="text-justify">
            {% trans "تتولى المصلحة المكلفة بالعمل الاجتماعي في القنصلية متابعة وتنسيق ملف التعاون في مجال التكفل الطبي للمواطنين الموريتانيين الذين يتابعون العلاج في المستشفيات المغربية، والذين تتكلف الدولة بعلاجهم(من خلال وزارة العمل الاجتماعي)،" %}
            {% trans "تتمثل المهمة العامة للمصلحة في برمجة وتنسيق المواعيد الطبية لهؤلاء وتوجيههم للمستشفيات، وكذلك توفير وثائق التكفل اللازمة." %}
        </p>
    </div>
</div>

{% endblock %}
