{% extends 'base.html' %}
{% load i18n %}

{%get_current_language as LANGUAGE_CODE%}


{% block content %}


<div class="col">
    <br>
    <br>
    <h2 class="text-center">{% trans "الحالة المدنية" %} </h2>
    <br>
    <hr>
        
    
    <div class="col text-justify">
       
        {% comment %} <h4 class="text-center"></h4> {% endcomment %}
        <p >
        {% comment %} class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left " {% endcomment %}
            {% trans "يقوم مركز استقبال المواطنين بالقنصلية بتوفير خدمات الحالة المدنية لكافة المواطنين الموجودين بالمملكة المغربية ، حيث يوفر المكتب  الخدمات التالية:" %}
        </p>
        <ul class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left">
            <li>{% trans "إصدار وتجديد جوازات السفر" %}</li>
            <li>{% trans "إصدار وتجديد بطاقة التعريف الوطنية" %}</li>
            <li>{% trans "تسجيل أحداث الحالة المدنية(الميلاد، الزواج، الطلاق، الوفاة)" %}</li>
            <li>{% trans "إصدار مستخرجات الحالة المدنية" %}</li>
        </ul>
        <h5 class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left">{% trans "تحدد رسوم خدمات الحالة المدنية كما هو موضح في الجدول التالي:" %}</h5>
        <table class="table table-bordered table-striped text-justify">
            <thead>
              <tr>
                <th>{% trans "الرسوم" %}</th>
                <th>{% trans "نوعية الطلب" %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>{% trans "841 أوقية" %}</td>
                  <td>{% trans "الطلب الأول لجواز السفر العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "1103 أوقية" %}</td>
                  <td>{% trans "الاستبدال الأول في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "1496 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثاني في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "2020 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثالث في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "2675 أوقية" %}</td>
                  <td>{% trans "الاستبدال الرابع في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "3253 أوقية" %}</td>
                  <td>{% trans "الطلب الأول لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "4039 أوقية" %}</td>
                  <td>{% trans "الاستبدال الأول في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "4694 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثاني في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "5349 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثالث في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "5999 أوقية" %}</td>
                  <td>{% trans "الاستبدال الرابع في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "38 أوقية" %}</td>
                  <td>{% trans "الطلب الأول لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "77 أوقية" %}</td>
                  <td>{% trans "الاستبدال الأول في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "116 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثاني في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "195 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثالث في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "273 أوقية" %}</td>
                  <td>{% trans "الاستبدال الرابع في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "5.5 أوقية" %}</td>
                  <td>{% trans "الحصول على مستخرجات الحالة المدنية" %}</td>
              </tr>
          </tbody>
          
        </table>
        <h6 class="text-center">{% trans "جدول يوضح رسوم استصدار مختلف الوثائق المؤمنة  بمركز استقبال المواطنين بالدرهم" %}</h6>
    </div>
   
</div>

{% endblock %}
