{% extends 'base.html' %}
{% load i18n %}

{%get_current_language as LANGUAGE_CODE%}


{% block content %}


<div class="col">
    <br>
    <br>
    <h2 class="text-center">{% trans "الحالة المدنية" %} </h2>
    <br>
    <hr>
        
    
    <div class="col text-justify">
       
        {% comment %} <h4 class="text-center"></h4> {% endcomment %}
        <p >
        {% comment %} class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left " {% endcomment %}
            {% trans "يقوم مركز استقبال المواطنين بالقنصلية بتوفير خدمات الحالة المدنية لكافة المواطنين الموجودين بالمملكة المغربية ، حيث يوفر المكتب  الخدمات التالية:" %}
        </p>
        <ul class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left">
            <li>{% trans "إصدار وتجديد جوازات السفر" %}</li>
            <li>{% trans "إصدار وتجديد بطاقة التعريف الوطنية" %}</li>
            <li>{% trans "تسجيل أحداث الحالة المدنية(الميلاد، الزواج، الطلاق، الوفاة)" %}</li>
            <li>{% trans "إصدار مستخرجات الحالة المدنية" %}</li>
        </ul>
        <h5 class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left">{% trans "تحدد رسوم خدمات الحالة المدنية كما هو موضح في الجدول التالي:" %}</h5>
        <table class="table table-bordered table-striped text-justify">
            <thead>
              <tr>
                <th>{% trans "الرسوم" %}</th>
                <th>{% trans "نوعية الطلب" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for etat_civil in etat_civils %}
                    <tr>
                        <td>{{ etat_civil.frais}} </td>
                        <td>{% trans etat_civil.type_de_demande %}</td>
                    </tr>
                {% endfor %}
              {% comment %} <tr>
                  <td>{% trans "841  " %}</td>
                  <td>{% trans "الطلب الأول لجواز السفر العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "1103  " %}</td>
                  <td>{% trans "الاستبدال الأول في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "1496  " %}</td>
                  <td>{% trans "الاستبدال الثاني في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "2020  " %}</td>
                  <td>{% trans "الاستبدال الثالث في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "2675  " %}</td>
                  <td>{% trans "الاستبدال الرابع في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "3253  " %}</td>
                  <td>{% trans "الطلب الأول لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "4039  " %}</td>
                  <td>{% trans "الاستبدال الأول في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "4694  " %}</td>
                  <td>{% trans "الاستبدال الثاني في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "5349  " %}</td>
                  <td>{% trans "الاستبدال الثالث في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "5999  " %}</td>
                  <td>{% trans "الاستبدال الرابع في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "38  " %}</td>
                  <td>{% trans "الطلب الأول لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "77  " %}</td>
                  <td>{% trans "الاستبدال الأول في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "116  " %}</td>
                  <td>{% trans "الاستبدال الثاني في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "195  " %}</td>
                  <td>{% trans "الاستبدال الثالث في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "273  " %}</td>
                  <td>{% trans "الاستبدال الرابع في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "5.5  " %}</td>
                  <td>{% trans "الحصول على مستخرجات الحالة المدنية" %}</td>
              </tr> {% endcomment %}
          </tbody>
          
        </table>
        <h6 class="text-center">{% trans "جدول يوضح رسوم استصدار مختلف الوثائق المؤمنة  بمركز استقبال المواطنين بالدرهم" %}</h6>
    </div>
   
</div>

{% endblock %}
