{% extends 'base.html' %}
{% load i18n %}

{%get_current_language as LANGUAGE_CODE%}


{% block content %}


<div class="col">
    <h2 class="text-center">{% trans "الخدمات" %}</h2>
    <br>
    <hr>
    <div class="col ">
        <h4 class="text-center"> {% trans "الوثائق والمعاملات القنصلية للمواطنين" %} </h4>
        <h5 class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left"> {% trans "الوثائق القنصلية:" %} </h5>
        <p class="text-justify">

            {% trans "تشكل الجانب الهام في عمل  القنصلية، وفي الوقت الحالي تصدر  القنصلية  الوثائق التالية:" %}
            {% trans "إذن المرور: وثيقة مؤقتة تمكن صاحبها من السفر في حالة ضياع جواز السفر او انتهاء سريانه، وأيضا  تمنح للمواليد الجدد؛" %}
            {% trans "تسجيل قنصلي: وثيقة تقدمها القنصلية للمواطنين الذين قاموا بتسجيل أنفسهم لدى القنصلية." %}
            {% trans "رخصة نقل جثمان: وثيقة تمنحها القنصلية بغية الترخيص في نقل جثامين الرعايا الذين توفوا في دائرتها وترغب عائلاتهم في دفنهم بالبلاد ؛" %}
            {% trans "ترخيص بالدفن: وثيقة تمنحها القنصلية للسماح بدفن الرعايا الذين توفوا في دائرتها." %}
            {% trans "وثيقة مطابقة أسماء: إفادة تصدرها القنصلية لتأكيد تطابق أسماء مختلفة في وثيقتين أو أكثر." %}
            {% trans "وثيقة تكفل: إفادة تصدرها القنصلية بناء على تعهد موثق لدى جهة مختصة يفيد بوجود كفيل للطلاب غير المستفيدين من منحة حكومية." %}

            {% trans "تصديق الوثائق: توفر القنصلية خدمات تصديق الوثائق بشكل ، على أن تكون هذه الوثائق مستوفية للشروط المحددة." %}
            {% trans "الأهلية للزواج: وثيقة تمنحها  القنصلية للمواطن الذي ينوي الزواج من أجنبية حسب ما تتطلبه قوانين بلدها" %}

        </p>
        <h5 class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left">{% trans "أنواع الوثائق وطرق الحصول عليها:" %}</h5>
        <table class="table table-bordered table-striped {%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left">
            <thead>
              <tr>
                <th>{% trans "الوثيقة" %}</th>
                <th>{% trans "عناصر الملف المطلوبة" %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>{% trans "التسجيل القنصلي (البطاقة القنصلية)" %}</td>
                  <td>{% trans "نسختان من جواز سفر ساري المفعول، تأشيرة سارية/أو بطاقة إقامة، 4 صور شمسية حديثة، صفحة الدخول للتراب المغربي، تعبئة استمارة التسجيل القنصلي، مستخرج من عقد الميلاد" %}</td>
              </tr>
              <tr>
                  <td>{% trans "تسهيل مغادرة" %}</td>
                  <td>{% trans "نسخة من جواز السفر، نسخة من تأشيرة الدخول أو بطاقة الإقامة المنتهية الصلاحية، نسخة من تذكرة السفر تحدد تاريخ سفر المعني، ضرورة وجود إذن بالسفر للأطفال القاصرين، إيداع الطلب لدى القنصلية بمدة 15 يوما قبل تاريخ السفر" %}</td>
              </tr>
              <tr>
                  <td>{% trans "إذن مرور" %}</td>
                  <td>{% trans "إثبات ضياع جواز السفر أو انتهاء سريانه، إثبات الميلاد بالمغرب بالنسبة للمواليد الجدد، جوازات سفر الوالدين السارية(بالنسبة للأطفال)، صور شمسية حديثة للمعني، إذن أبوي بالسفر بالنسبة للقصر صادر عن موثق عقود معتمد ومصدق لدى وزارة الخارجية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "إفادة مطابقة الاسم" %}</td>
                  <td>{% trans "جواز سفر ساري/ مستخرج عقد ازدياد حديث، الوثيقة المطلوب مطابقتها مصدقة من الجهات المختصة" %}</td>
              </tr>
              <tr>
                  <td>{% trans "إفادة التكفل" %}</td>
                  <td>{% trans "تصريح/التزام صادر عن موثق عقود معتمد ومصدق لدى وزارة الخارجية يفيد بوجود متكفل بتسديد المبلغ المحدد؛، إفادة التسجيل للعام الجامعي الجاري" %}</td>
              </tr>
              <tr>
                  <td>{% trans "تصديق الوثائق" %}</td>
                  <td>{% trans "الوثائق الأصلية، النسخ المراد تصديقها مصدقة مسبقا من الجهات المختصة، إثبات الصلة بالوثائق المعروضة للتصديق(المعني او من يوكله)" %}</td>
              </tr>
              <tr>
                  <td>{% trans "إذن نقل جثمان" %}</td>
                  <td>{% trans "طلب من عائلة المتوفي، إفادة وفاة موقعة من الطبيب الذي عاين المتوفي، جواز سفر المتوفي ومرافقه، تذاكر السفر" %}</td>
              </tr>
              <tr>
                  <td>{% trans "إذن دفن" %}</td>
                  <td>{% trans "طلب عائلة المتوفى، إفادة وفاة موقعة من الطبيب الذي عاين المتوفي، جواز سفر المتوفي ومرافقه" %}</td>
              </tr>
              <tr>
                  <td>{% trans "أهلية الزواج" %}</td>
                  <td>{% trans "نسخة من جواز سفر المعني، نسخة من صفحة الدخول للتراب المغربي، نسخة من صحيفة السوابق العدلية، صورتين شمسيتين، نسخة من شهادة عدم الزواج أو حكم بثبوت الطلاق، نسخة من بطاقة التعريف الوطنية للزوجة، صورتين شمسيتين للزوجة" %}</td>
              </tr>
            </tbody>
          </table>
          <h6 class="text-center">{% trans "التسجيل القنصلي والحصول على رقم قنصلي يعتبر شرطا للحصول  على  أي من الوثائق السابقة" %}</h6>

    </div>
    <hr>
    <br>
    
    <div class="col text-justify">
       
        <h4 class="text-center">{% trans "الحالة المدنية" %}</h4>
        <p >
        {% comment %} class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left " {% endcomment %}
            {% trans "يقوم مركز استقبال المواطنين بالقنصلية بتوفير خدمات الحالة المدنية لكافة المواطنين الموجودين بالمملكة المغربية ، حيث يوفر المكتب  الخدمات التالية:" %}
        </p>
        <ul class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left">
            <li>{% trans "إصدار وتجديد جوازات السفر" %}</li>
            <li>{% trans "إصدار وتجديد بطاقة التعريف الوطنية" %}</li>
            <li>{% trans "تسجيل أحداث الحالة المدنية(الميلاد، الزواج، الطلاق، الوفاة)" %}</li>
            <li>{% trans "إصدار مستخرجات الحالة المدنية" %}</li>
        </ul>
        <h5 class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left">{% trans "تحدد رسوم خدمات الحالة المدنية كما هو موضح في الجدول التالي:" %}</h5>
        <table class="table table-bordered table-striped text-justify">
            <thead>
              <tr>
                <th>{% trans "الرسوم" %}</th>
                <th>{% trans "نوعية الطلب" %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>{% trans "841 أوقية" %}</td>
                  <td>{% trans "الطلب الأول لجواز السفر العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "1103 أوقية" %}</td>
                  <td>{% trans "الاستبدال الأول في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "1496 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثاني في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "2020 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثالث في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "2675 أوقية" %}</td>
                  <td>{% trans "الاستبدال الرابع في حالة التلف أو الضياع للجواز العادي" %}</td>
              </tr>
              <tr>
                  <td>{% trans "3253 أوقية" %}</td>
                  <td>{% trans "الطلب الأول لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "4039 أوقية" %}</td>
                  <td>{% trans "الاستبدال الأول في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "4694 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثاني في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "5349 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثالث في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "5999 أوقية" %}</td>
                  <td>{% trans "الاستبدال الرابع في حالة التلف أو الضياع لجواز VIP" %}</td>
              </tr>
              <tr>
                  <td>{% trans "38 أوقية" %}</td>
                  <td>{% trans "الطلب الأول لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "77 أوقية" %}</td>
                  <td>{% trans "الاستبدال الأول في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "116 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثاني في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "195 أوقية" %}</td>
                  <td>{% trans "الاستبدال الثالث في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "273 أوقية" %}</td>
                  <td>{% trans "الاستبدال الرابع في حالة التلف أو الضياع لبطاقة التعريف الوطنية" %}</td>
              </tr>
              <tr>
                  <td>{% trans "5.5 أوقية" %}</td>
                  <td>{% trans "الحصول على مستخرجات الحالة المدنية" %}</td>
              </tr>
          </tbody>
          
        </table>
        <h6 class="text-center">{% trans "جدول يوضح رسوم استصدار مختلف الوثائق المؤمنة  بمركز استقبال المواطنين بالدرهم" %}</h6>
    </div>
    <hr>
    <br>
    <div class="col">
       
        <h4 class="text-center">{% trans "الشؤون الاجتماعية" %}</h4>
        <p class="text-justify">
            {% trans "تتولى المصلحة المكلفة بالعمل الاجتماعي في القنصلية متابعة وتنسيق ملف التعاون في مجال التكفل الطبي للمواطنين الموريتانيين الذين يتابعون العلاج في المستشفيات المغربية، والذين تتكلف الدولة بعلاجهم(من خلال وزارة العمل الاجتماعي)،" %}
            {% trans "تتمثل المهمة العامة للمصلحة في برمجة وتنسيق المواعيد الطبية لهؤلاء وتوجيههم للمستشفيات، وكذلك توفير وثائق التكفل اللازمة." %}
        </p>
    </div>
    <hr>
    <br>
    <div class="col">
       
        <h4 class="text-center">{% trans "خدمات للأجانب(زيارة موريتانيا، التأشيرات)" %}</h4>
        <p class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left ">
            {% trans "يتم تقديم طلبات الإقامة لدى مصالح الشرطة المختصة ويتكون الملف عادة من:" %}
        </p>
        <ul class="{%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left">
            <li>{% trans "جواز السفر وتأشيرة الدخول (بالنسبة للطلاب يجب ان يحصلوا على تأشيرة طالب من السفارة أو القنصلية المغربية مسبقا)" %}</li>
            <li>{% trans "عقد إيجار(يحدد عنوان السكن) أو إفادة ملكية في حالة الملكية، أو إفادة سكن في حي جامعي بالنسبة للطلاب" %}</li>
            <li>{% trans "إفادة منحة بالنسبة للطلاب الممنوحين" %}</li>
            <li>{% trans "إفادة تكفل بالنسبة للطلاب غير الممنوحين" %}</li>
            <li>{% trans "تسجيل قنصلي" %}</li>
        </ul>
    </div>
</div>

{% endblock %}
