{% extends 'base.html'%}
{% load i18n %}

{%get_current_language as LANGUAGE_CODE%}


{% block content %}
<br>
<h1 class="text-center"> {% trans "الشؤون الطلابية" %} </h1>
<br>
<hr>

<div class="container mt-4 text-justify" >
{% comment %} {%if LANGUAGE_CODE == 'ar' %} text-right {% endif%} text-left "> {% endcomment %}
    <h2 class="text-center"> {% trans "معلومات تهم الطلاب" %} </h2>

    <!-- التسجيل -->
    <h3> {% trans "التسجيل" %} </h3>
      <p>{% trans "تتولى المصلحة الثقافية بسفارتنا في الرباط مهمة تسيير شؤون الطلاب في ما يتعلق بالدراسة والتسجيل والشؤون الأكاديمية، ولا تتولى الملحقية تسلم ملفات الراغبين في التسجيل بالمغرب، وإنما تحيل الملفات الواردة إليها من وزارة التعليم العالي إلى الوكالة المغربية للتعاون الدولي. يتطلب التسجيل في المؤسسات العلمية المغربية ملفا يتكون من:" %}</p>
    <ul>
      <li> {% trans "موافقة الوكالة المغربية للتعاون الدولي." %} </li>
      <li> {% trans "الحصول على رخصة للتسجيل صادرة عن قطاع التعليم العالي بالمغرب." %} </li>
      <li> {% trans " الشهادات الأصلية. " %} </li>
      <li> {% trans "صورة من جواز السفر." %} </li>
    </ul>

    <!-- المنحة -->
    <h3> {% trans "المنحة" %} </h3>
    <p> {% trans "يحصل كل طالب مسجل في إطار التعاون الرسمي بين موريتانيا والمغرب على منحة من الوكالة المغربية للتعاون الدولي. يتم الحصول على المنحة الموريتانية عن طريق:" %} </p>
    <ol>
      <li> {% trans " التوجيه في الدورة الأولى للجنة الوطنية للمنح للمتفوقين في مرحلتي الباكلوريا والليصانص. " %} </li>
      <li> {% trans "الحصول على منحة في الدورة الثانية للجنة الوطنية للمنح وفق مقتضيات المقرر رقم 0424 الصادر بتاريخ 18 إبريل 2017، المحدد لطرق إسناد منح الطلاب الموريتانيين." %} </li>
    </ol>
    <p> {% trans "تصرف الملحقية الثقافية المنح خلال كل فصل دراسي بعد صدور قرار المنح الذي يتضمن أسماء المعنيين بالمنحة خلال الفصل الدراسي موضوع القرار، وبعد التوصل بالتحويلات المالية التي تغطى منح مجموع الطلاب المشمولين بالقرار المذكور." %} </p>
    <ul>
      <li> {% trans " تستقبل الملحقية الثقافية بالسفارة التظلمات من الطلاب الممنوحين الذين لم تظهر أسماؤهم على قرار المنح وتحيلها إلى وزارة التعليم العالي والبحث العلمي في موريتانيا وتتابعها حتى تتم تسوية وضعياتهم. " %} </li>
      <li> {% trans "تستقبل الملحقية الثقافية ملفات طالبي المنح وتوجهها إلى وزارة التعليم العالي والبحث العلمي في موريتانيا بهدف عرضها على الدورة الثانية للجنة الوطنية للمنح." %} </li>
    </ul>

    <h4> {% trans " ويتكون ملف طلب المنحة في الدورة الثانية للمنح من: " %} </h4>
    <ul>
      <li> {% trans " طلب خطي موجه إلى وزير التعليم العالي والبحث العلمي. " %} </li>
      <li> {% trans "شهادة تسجيل خاصة بالسنة الجامعية التي يطلب خلالها الطالب المنحة." %} </li>
      <li> {% trans "صورة مصدقة من الشهادات التي حصل عليها المعني (باكلوريا فما فوق)." %} </li>
    </ul>

    <p> {% trans "تستقبل الملحقية ملفات تجديد المنح سنويا وتتشكل من الوثائق التالية:" %} </p>
    <ul>
      <li> {% trans "شهادة التسجيل بالنسبة للطلبة الجدد." %} </li>
      <li> {% trans "أما بالنسبة للطلاب القدماء فإن عليهم الإدلاء بـ:" %}
        <ul>
          <li> {% trans "شهادة تسجيل مصدقة من الجهات المختصة." %} </li>
          <li> {% trans "كشوف درجات السنة المنقضية." %} </li>
        </ul>
      </li>
    </ul>

    <p> {% trans "يمكن للطلاب الذين لم يتمكنوا من استكمال تكوينهم خلال الفترة المحددة لكل سلك في الآجال المحددة، التقدم بطلب تمديد المنحة مشفوعا بشهادة تسجيل تخص السنة الجامعية التي يتقدم فيها بالطلب المذكور، وإفادة من رئيس المؤسسة التي يدرس فيها تحدد الفترة الزمنية التي ينتظر أن ينهي فيها تكوينه (استدراك- تاريخ نقاش رسالة أو أطروحة)." %}</p>

    <p> {% trans "يتعين على الطلاب سحب منحهم عند الإعلان عن توزيعها وإلا ستعيدها الملحقية الثقافية قبل نهاية السنة المالية للخزينة العامة للدولة وفقا لما يجري به العمل وفي هذه الحالة فإن الملحقية الثقافية ليست مسؤولة عن استردادها." %} </p>
</div>

{% endblock %}
